body{
    background-color: azure;
}

#quiz-container{
    text-align: center;
    align-items: center;
    padding: 155px;
    width:100px;
    height: 155pxpx;
    border-style: solid;
    border-radius: 30px black;
    position: absolute;
    left: 37%;
    top:20%;
    background-color: white;
    box-shadow: 3px 3px gray;
}

.leaderboard-link{
    text-align: center;
    position: absolute;
    top: 80px;
}

.leaderboard-link a{
    text-decoration: none;
    color:black;
    font-weight: 900;
    border-style: solid;
    border-radius: 6px black;
    border-width: 2px;
}

.leaderboard-link a:hover{
    background-color: black;
    color: aliceblue;
    transition: .3s ease-in;
}

#leaderboard-list{
    list-style-type: none;
}

#options{
    list-style-type: none;
    padding-left: 5%;
    border-style: solid;
    border-radius: 2px black;
    cursor: pointer;
}
#options:hover{
    background-color: aliceblue;
    transition: .3s ease-in;
}

#initials {
    position: absolute;
    left: 100px;
}

#submit-button{
    position: absolute;
    left: 100px;
    bottom: 100px;
    text-decoration: none;
    color: black;
}









#leaderboard{
    text-align: center;
    align-items: center;
    padding: 155px;
    width:500px;
    height:150px;
    border-style: solid;
    border-radius: 30px black;
    position: absolute;
    left: 28%;
    top:10%;
    background-color: white;
    box-shadow: 3px 3px gray;
}

#gameStart{
    text-decoration: none;
    color:black;
    font-weight: 900;
    border-style: solid;
    border-radius: 6px black;
    border-width: 2px;
}
